@using FarmProduct.Web.Common
@model FarmProduct.Model.Province
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/css/jquery-ui.css")" rel="stylesheet" type="text/css" />
<div class="content-box">
    <!-- Start Content Box -->
    <div class="content-box-header">
        <h3>
            添加省份</h3>
        <ul class="content-box-tabs">
            <li><a href="@Url.Action("Index")" class="default-tab">返回列表</a></li>
        </ul>
        <div class="clear">
        </div>
    </div>
    <div class="content-box-content">
        <div class="tab-content default-tab" id="tab2">
            @using (Html.BeginForm("Create", "Province", FormMethod.Post, new { @class = "form" }))
            {
                @Html.HiddenFor(model => model.Id)
                <fieldset>
                    <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
                    <p>
                        <label>
                            省份名字</label>
                        @Html.TextBoxFor(model => model.ProvinceName, new { @class = "text-input tiny-input", @style = "width:100px" )
                        <span class="input-notification success png_bg">必须输入</span>
                    </p>
                    <p>
                        <input class="button" type="submit" value="Submit" />
                    </p>
                </fieldset>
                <div class="clear">
                </div>
                <!-- End .clear -->
            }
        </div>
    </div>
</div>
