@using FarmProduct.Model
@model FarmProduct.Web.Models.ListViewModel<Province>
@{
    ViewBag.Title = "Index";
    int j = 0;
}
<div class="content-box">
    <!-- Start Content Box -->
    <div class="content-box-header">
        <h3>
            省份列表</h3>
        <ul class="content-box-tabs">
            <li><a href="@Url.Action("Create")" class="default-tab">添加省份</a></li>
        </ul>
        <div class="clear">
        </div>
    </div>
    <!-- End .content-box-header -->
    <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
            <!-- This is the target div. id must match the href of this div's tab -->
            <div class="notification attention png_bg">
                <a href="#" class="close">
                    <img src="@Url.Content("~/Content/images/icons/cross_grey_small.png")" title="Close this notification"
                        alt="close" /></a>
                <div>
                    省份列表
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>
                            省份编号
                        </th>
                        <th>
                            省份名称
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <!-- End .pagination -->
                            <div class="clear">
                            </div>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        if (j % 2 == 0)
                        {
                        <tr class="alt-row">
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.ProvinceName
                            </td>
                            <td>
                                <!-- Icons -->
                                <a href="@Url.Action("Edit", "Province", new { id = @item.Id })" title="Edit">
                                    <img src="@Url.Content("~/Content/images/icons/pencil.png")" alt="Edit" /></a>
                                <a href="javascript:;" onclick="delete(@item.Id)" title="Delete">
                                    <img src="@Url.Content("~/Content/images/icons/cross.png")" alt="Delete" /></a>
                            </td>
                        </tr>
                        }
                        else
                        {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.ProvinceName
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "Province", new { id = @item.Id })" title="Edit">
                                    <img src="@Url.Content("~/Content/images/icons/pencil.png")" alt="Edit" /></a>
                                <a href="javascript:;" onclick="delete(@item.Id)" title="Delete">
                                    <img src="@Url.Content("~/Content/images/icons/cross.png")" alt="Delete" /></a>
                            </td>
                        </tr>
                        }
                        j++;
                    }
                </tbody>
            </table>
        </div>
        <!-- End #tab1 -->
        <!-- End #tab2 -->
    </div>
    <!-- End .content-box-content -->
</div>

<script language="javascript">
    function delete(id){
        $.ajax({
            type: "POST",
            url: '<%= Url.Action("Delete") %>',
            data: { id: id },
            success: function (data) {
                window.location.href = '<%= Url.Action("Index") %>'
            }
        });
    }
</script>