@using FarmProduct.Model
@using FarmProduct.Web.Common
@model FarmProduct.Web.Models.ListViewModel<User>
@{
    ViewBag.Title = "Index";
    int j = 0;
    string trclass = "";
}
<div class="content-box">
    <!-- Start Content Box -->
    <div class="content-box-header">
        <h3>
            用户列表</h3>
        <ul class="content-box-tabs">
            <li><a href="@Url.Action("Create")" class="default-tab">添加用户</a></li>
        </ul>
        <div class="clear">
        </div>
    </div>
    <!-- End .content-box-header -->
    <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
            <!-- This is the target div. id must match the href of this div's tab -->
            <table>
                <thead>
                    <tr>
                        <th>
                            用户编号
                        </th>
                        <th>
                            用户登录名
                        </th>
                        <th>
                            真实姓名
                        </th>
                        <th>
                           所在公司
                        </th>
                        <th>
                            联系电话
                        </th>
                        <th>
                            拥有权限
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="pagination">
                                <a href="@Url.Action("Index", new { pageIndex = 1 })" title="First Page">&laquo; First</a>
                                @if (Model.CurrentPageIndex > 1)
                                {
                                    <a href="@Url.Action("Index", new { pageIndex = @Model.CurrentPageIndex - 1 })" title="Previous Page">
                                        &laquo; Previous</a> 
                                }
                                @for (int i = 1; i <= Model.PageCount; i++)
                                {
                                    if (Model.CurrentPageIndex == i)
                                    {
                                    <a href="@Url.Action("Index", new { pageIndex = i })" class="number current" title="@i">@i</a>
                                    }
                                    else
                                    {
                                    <a href="@Url.Action("Index", new { pageIndex = i })" class="number" title="1">@i</a>
                                    }

                                }
                                @if (Model.CurrentPageIndex < Model.PageCount)
                                {
                                    <a href="@Url.Action("Index", new { pageIndex = @Model.CurrentPageIndex + 1 })" title="Next Page">
                                        Next &raquo;</a>
                                }
                                <a href="@Url.Action("Index", new { pageIndex = @Model.PageCount })" title="Last Page">
                                    Last &raquo;</a>
                            </div>
                            <!-- End .pagination -->
                            <div class="clear">
                            </div>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        if (j % 2 == 0)
                        {
                            trclass = "alt-row";
                        }
                        else
                        {
                            trclass = "";
                        }
                         <tr class="@trclass">
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.UserName
                            </td>
                            <td>
                                @item.RealName
                            </td>
                            <td>
                                @if (item.Company != null)
                                {@item.Company.CompanyName}
 
                            </td>
                            <td>
                                @item.Telephone
                            </td>
                            <td>
                                @item.UserRole
                            </td>
                            <td>
                                <!-- Icons -->
                                <a href="@Url.Action("Edit", "User", new { id = @item.Id })" title="Edit">
                                    <img src="@Url.Content("~/Content/images/icons/pencil.png")" alt="Edit" /></a>
                               <a href="javascript:;" onclick="deleteUser(@item.Id)" title="Delete">
                                    <img src="@Url.Content("~/Content/images/icons/cross.png")" alt="Delete" /></a>
                            </td>
                        </tr>
                        
                        j++;
                    }
                </tbody>
            </table>
        </div>
        <!-- End #tab1 -->
        <!-- End #tab2 -->
    </div>
    <!-- End .content-box-content -->
</div>

<script language="javascript" type="text/javascript">
    function deleteUser(id) {
        if (!confirm("你确定删除此用户吗?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete") ',
            data: ({ id: id }),
            datatype: 'json',
            success: function (data) {
                window.location.href = '@Url.Action("Index") '
            }
        });
    }
</script>
