@model FarmProduct.Web.Models.SecurityCheckerEditModel
@{
    ViewBag.Title = "预警产品";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-box">
    <!-- Start Content Box -->
    <div class="content-box-header">
        <h3>
            预警产品</h3>
        <ul class="content-box-tabs">
            <li><a href="@Url.Action("ProductList", "SecurityCheck")" class="default-tab">可预警产品列表</a></li>
        </ul>
        <div class="clear">
        </div>
    </div>
    <div class="content-box-content">
        <div style="color: Red">
            @Html.ValidationSummary(true, "")
        </div>
        <div class="tab-content default-tab" id="tab2">
            @using (Html.BeginForm("Create", "SecurityCheck", FormMethod.Post, new { @class = "form" }))
            {
                @Html.HiddenFor(model => model.ProductId)
                @Html.HiddenFor(model => model.ProductTypeName)
                @Html.HiddenFor(model => model.CompanyId)
                @Html.HiddenFor(model => model.ProductType)
                <fieldset>
                    <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
                    <p>
                        <label>
                            农产品名称</label>
                        @Html.TextBoxFor(model => model.ProductName, new { @class = "text-input small-input datepicker" })
                    </p>
                    <p>
                        <label>
                            企业名称</label>
                        @Html.TextBoxFor(model => model.CompanyName, new { @class = "text-input small-input datepicker"})
                    </p>
                    <p>
                        <label>
                            预警级别</label>
                        <select id="SecurityLevel" name="SecurityLevel">
                            <option value="2">此产品</option>
                            <option value="0">瘟疫</option>
                        </select>
                    </p>
                    <p>
                        <label>
                            产品类别</label>
                        @Html.TextBoxFor(model => model.ProductType, new { @class = "text-input tiny-input", @style = "width:100px", disabled = "disabled" })
                    </p>
                    <p>
                        <label>
                            原因</label>
                        @Html.TextAreaFor(model => model.InsertReason, new { @class = "text-input textarea medium-input", @style = "overflow:hidden", rows = "3", cols = "30" })
                    </p>

                   <input class="button" type="submit" value="保存" />
                </fieldset>
                <div class="clear">
                </div>
                <!-- End .clear -->
            }
        </div>
    </div>
</div>
