@model FarmProduct.Web.Models.WholeSaleProductEditModel
@{
    ViewBag.Title = "批发产品";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-box">
    <!-- Start Content Box -->
    <div class="content-box-header">
        <h3>
            添加产品</h3>
        <ul class="content-box-tabs">
            <li><a href="@Url.Action("WholeSold")" class="default-tab">返回列表</a></li>
        </ul>
        <div class="clear">
        </div>
    </div>
    <div class="content-box-content">
        <div style="color:Red">
        @Html.ValidationSummary(true, "")
        </div>
        <div class="tab-content default-tab" id="tab2">
            @using (Html.BeginForm("Create", "WholeSaleProduct", FormMethod.Post, new { @class = "form" }))
            {
                @Html.HiddenFor(model => model.AgriculturalProductId)
                <fieldset>
                    <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
                    <p>
                        <label>
                            产品名字</label>
                        @Html.TextBoxFor(model => model.ProductName, new { @class = "text-input small-input datepicker" })
                        <span class="input-notification success png_bg">必须输入</span>
                        @Html.ValidationMessageFor(m=>m.ProductName)
                    </p>
                    <p>
                        <label>
                            批次</label>
                        @Html.TextBoxFor(model => model.Batch, new { @class = "text-input tiny-input", @style = "width:100px" })
                        <small>请输入数字</small>
                        @Html.ValidationMessageFor(m => m.Batch, "请输入合法的批次")
                    </p>
                    <p>
                        <label>
                            批发至</label>
                        @Html.DropDownList("ToCompanyId", new SelectList(Model.ToCompanyList, "Id", "CompanyName"), "请选择企业")
                        @Html.ValidationMessageFor(m=>m.ToCompanyId)
                    </p>
                    <p>
                        <input class="button" type="submit" value="Submit" />
                    </p>
                </fieldset>
                <div class="clear">
                </div>
                <!-- End .clear -->
            }
        </div>
    </div>
</div>

