@using FarmProduct.Model
@model FarmProduct.Web.Models.ListViewModel<RetailProduct>
@{
    ViewBag.Title = "可销售产品列表";
    int j = 0;
    string strStyle = "";
}
<div class="content-box">
    <!-- Start Content Box -->
    <div class="content-box-header">
        <h3>
            可销售产品列表</h3>
        <ul class="content-box-tabs">
            <li><a href="@Url.Action("RetailedProduct", "RetailProduct")" class="default-tab">已销售产品</a></li>
        </ul>
        <div class="clear">
        </div>
    </div>
    <!-- End .content-box-header -->
    <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
            <!-- This is the target div. id must match the href of this div's tab -->
            
            <table>
                <thead>
                    <tr>
                        <th>
                            农产品名称
                        </th>
                        <th>
                            批发产品名称
                        </th>
                        <th>
                            批发企业
                        </th>
                        <th>
                            批发人
                        </th>
                        <th>
                            批发时间
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="pagination">
                                <a href="@Url.Action("CanRetail", new { pageIndex = 1 })" title="First Page">&laquo;
                                    First</a>
                                @if (Model.CurrentPageIndex > 1)
                                {
                                    <a href="@Url.Action("CanRetail", new { pageIndex = @Model.CurrentPageIndex - 1 })" title="Previous Page">
                                        &laquo; Previous</a> 
                                }
                                @for (int i = 1; i <= Model.PageCount; i++)
                                {
                                    if (Model.CurrentPageIndex == i)
                                    {
                                    <a href="@Url.Action("CanRetail", new { pageIndex = i })" class="number current" title="@i">@i</a>
                                    }
                                    else
                                    {
                                    <a href="@Url.Action("CanRetail", new { pageIndex = i })" class="number" title="1">@i</a>
                                    }

                                }
                                @if (Model.CurrentPageIndex < Model.PageCount)
                                {
                                    <a href="@Url.Action("CanRetail", new { pageIndex = @Model.CurrentPageIndex + 1 })" title="Next Page">
                                        Next &raquo;</a>
                                }
                                <a href="@Url.Action("CanRetail", new { pageIndex = @Model.PageCount })" title="Last Page">
                                    Last &raquo;</a>
                            </div>
                            <!-- End .pagination -->
                            <div class="clear">
                            </div>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        if (j % 2 == 0)
                        {
                            strStyle = "alt-row";
                        }
                        else
                        {
                            strStyle = "";
                        }
                        <tr class="@strStyle">
                            <td>
                                @item.AgriculturalProductName
                            </td>
                            <td>
                                @item.ProductName
                            </td>
                            <td>
                                @item.FromCompany.CompanyName
                            </td>
                            <td>
                                @item.InsertBy.RealName
                            </td>
                            <td>
                                @item.InsertDate.ToString("yyyy-MM-dd HH:mm")
                            </td>
                            <td>
                                <!-- Icons -->
                                <a href="@Url.Action("Detail", "RetailProduct", new { id = @item.Id })" title="查看" target="_blank">
                                    查看</a>
                                @if ((item.ProductStatus == ProductStatus.Retail || item.ProductStatus == ProductStatus.CanRetail) && item.SecurityStatus == SecurityStatus.Safe)
                                {
                                    <a href="@Url.Action("Retail", "RetailProduct", new { id = @item.Id })" title="销售">
                                    销售</a>
                                    <a href="javascript:;" onclick="deleteProduct(@item.Id)" title="Delete">
                                        <img src="@Url.Content("~/Content/images/icons/cross.png")" alt="Delete" /></a>
                                }
                            </td>
                        </tr>
                                j++;
                    }
                </tbody>
            </table>
        </div>
        <!-- End #tab1 -->
        <!-- End #tab2 -->
    </div>
    <!-- End .content-box-content -->
</div>
<script language="javascript" type="text/javascript">
    function deleteProduct(id) {
        if (!confirm("你确定删除?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteWholeSale") ',
            data: ({ id: id }),
            datatype: 'json',
            success: function (response) {
                var isSuccess = response.IsSuccess;
                if (!isSuccess) {
                    alert(response.ErrorMessage);
                }
                else {
                    window.location.href = '@Url.Action("CanRetail") '
                }
            }
        });
    }
</script>
